<h1 mat-dialog-title>Add sections</h1>
<div mat-dialog-content>
  <section class="new-section">
    <h4>Create a new section:</h4>
    <input
      class="new-section-title"
      [(ngModel)]="newSectionTitle"
      type="text"
      maxlength="40"
      placeholder="Ex. Beach gear"
    />
  </section>
  <section class="group-selection" *ngIf="groups.length">
    <h4>Or pick from your groups:</h4>
    <p>
      <mat-checkbox
        (click)="onGroup(group.id)"
        *ngFor="let group of groups"
        >{{ group.title }}</mat-checkbox
      >
    </p>
  </section>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    cdkFocusInitial
    [mat-dialog-close]="getResult()"
  >
    Ok
  </button>
</div>
