<div cdkDropListGroup>
  <span
    cdkDropList
    (cdkDropListDropped)="dropTrash($event)"
    class="material-icons trash-icon"
    >restore_from_trash</span
  >
  <div class="container">
    <div class="button-row">
      <h1>Groups</h1>
      <button (click)="openDialogAddGroup()" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div
      class="row"
      cdkDropList
      id="group-cards"
      cdkDropListOrientation="horizontal"
      [cdkDropListEnterPredicate]="groupCardPredicate"
      (cdkDropListDropped)="dropGroupCard($event)"
    >
      <div
        *ngFor="let group of groups; let i = index"
        class="col-md-4"
        cdkDrag
        [cdkDragData]="{ type: 'group', id: group.id }"
        [cdkDragStartDelay]="dragStartDelay"
      >
        <div class="group-header" cdkDragHandle>
          <mat-icon class="drag-handle">drag_indicator</mat-icon>
          <h2>{{ group.title }}</h2>
        </div>
        <mat-list
          role="list"
          cdkDropList
          [cdkDropListData]="group.items"
          (cdkDropListDropped)="drop($event)"
          [id]="'cdk-drop-list-' + group.id"
          [cdkDropListEnterPredicate]="itemPredicate"
        >
          <mat-list-item
            cdkDrag
            [cdkDragData]="{ type: 'item' }"
            [cdkDragStartDelay]="dragStartDelay"
            *ngFor="let item of group.items"
            >{{ item }}</mat-list-item
          >
          <div class="add-item-row">
            <input
              #itemInput
              type="text"
              maxlength="40"
              placeholder="New item..."
              (keyup.enter)="onAdd(i, itemInput); itemInput.value = ''"
            />
            <button
              mat-icon-button
              (click)="onAdd(i, itemInput); itemInput.value = ''"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-list>
      </div>
    </div>
  </div>
</div>
