<div cdkDropListGroup>
  <span
    cdkDropList
    (cdkDropListDropped)="dropTrash($event)"
    class="material-icons trash-icon"
    >restore_from_trash</span
  >

  <div class="button-row">
    <h1>Lists</h1>
    <button (click)="openDialogAddList()" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-list
    role="list"
    cdkDropList
    id="lists-container"
    (cdkDropListDropped)="dropList($event)"
  >
    <mat-list-item
      *ngFor="let list of lists"
      cdkDrag
      [cdkDragData]="list.id"
      (click)="onClickList(list.id)"
    >
      <mat-icon cdkDragHandle class="drag-handle">drag_indicator</mat-icon>
      <span class="list-title">{{ list.title }}</span>
    </mat-list-item>
  </mat-list>

  <div *ngIf="sharedLists.length > 0" class="shared-section">
    <h2 class="shared-heading">Shared with me</h2>
    <mat-list role="list" cdkDropList (cdkDropListDropped)="dropList($event)">
      <mat-list-item
        *ngFor="let list of sharedLists"
        cdkDrag
        [cdkDragData]="{ type: 'shared', id: list.id, ownerUid: list.ownerUid }"
        (click)="onClickSharedList(list.id)"
      >
        <mat-icon cdkDragHandle class="drag-handle">drag_indicator</mat-icon>
        <mat-icon class="shared-icon">people</mat-icon>
        <span class="list-title">{{ list.title }}</span>
        <span class="shared-owner">by {{ list.ownerEmail }}</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>
